/* @import "../node_modules/bootstrap/dist/css/bootstrap"; */
@import "roboto.css";
@import "~normalize.css";

.bi {
  margin-right: 20px;
}

a {
  text-decoration: none;
}

.fw-normal-grey {
  color: grey;
}

.text-muted {
  color: #6c757d !important;
}
